<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuyuan.video.mapper.VideoMapper">
    <select id="getVideoListPage" resultType="com.wuyuan.video.module.Video">
        SELECT
            id,
            video_url AS videoUrl,
            cover_url AS coverUrl,
            title,
            `like`,
            create_time AS createTime
        FROM video
        WHERE is_disable = 0 OR is_disable IS NULL
        AND group_id = #{groupId}
    </select>
    <select id="getVideoGroups" resultType="com.wuyuan.video.module.VideoGroupDto">
        SELECT
            id,
            name,
            `index`
        FROM video_group
        WHERE is_disable = 0 OR is_disable IS NULL
        ORDER BY `index`
    </select>
</mapper>